<ion-view title="Login" class="home-view">
    <div class="bar bar-header bar-positive">
        <h1 class="title">Scrum Manager</h1>
        <button class="button button-balanced" id="generateNumber" ng-click="selectTeam()" ng-show="isMaster === true">+</button>
    </div>
    <ion-content class="has-header has-footer login">
        <div class="wrapper">
            <button class="button button-positive loginButton" ng-click='performLogin()'>
                Login
            </button>
        </div>
    </ion-content>
    <div class="bar bar-footer bar-positive">
        <div class="title"></div>
    </div>
</ion-view>