/* Empty. Add your own CSS if you like */

.item-note {
    float: right;
    color: #444;
    font-size: 14px;
}

.graphCard {
    width: auto;
    height: max-content;
    border-radius: 0px !important;
}

.has-tabs-top {
    top: 89px;
}

.login {
    background-color: #e8e8e8;
}

.wrapper {
    text-align: center;
}

.loginButton {
    position: absolute;
    top: 50%;
}

.historyFilter {
    font-size: 23px;
    padding-left: 5px;
    padding-top: 5px;
}

.filterPopover {
    height: max-content;
}

.pin {
    text-align: center;
    font-size: xx-large;
}

.disabled {
    pointer-events: none;
    opacity: 0.6;
}

.item .badge+.badge {
    margin-right: 40px !important;
}

.arrow-dropdown {
    float: right;
    font-size: 28px;
    color: #33cd5f
}