/* Empty. Add your own CSS if you like */
/* Empty. Add your own CSS if you like */
.add_button {
    border-color: transparent;
    background-color: #23d547;
    color: #fbf6f6;
    position: absolute;
    display: inline-block;
    margin: 0;
    padding: 0 12px;
    min-width: 10px;
    min-height: 47px;
    border-width: 1px;
    border-style: solid;
    border-radius: 50px;
    vertical-align: top;
    text-align: center;
    text-overflow: ellipsis;
    font-size: 27px;
    line-height: 42px;
    cursor: pointer;
    top: -18px;
    width:46px;
    }
     
    .pinb
    {
    position: absolute;
    top: 9px;
    right: 15px;
    bottom: 9px;
    font-size: x-large;
    }
     
    .dash
    { width:60px;
    left: 10px;
    position: absolute;
    }
    .points
    { width:60px;
    left: 90px;
    position: absolute;
    }
    .rewards
    { width:60px;
    right: 90px;
    position: absolute;
    }
    .history
    { width:60px;
    right: 10px;
    position: absolute;
    }
    /* .generatepin
    {
        border-color: transparent;
        background-color: #33cd5f;
        color: #fff;
        font-size: 20px;
        font-family: fantasy;
        float:right;
    }
    .button-generate
    {

        border-color: transparent;
            background-color: #33cd5f;
            color: #fff;
            font-size: 20px;
            font-family: fantasy;
            float:right;

    } */
    .button.button-balanced {
        border-color: transparent;
        background-color: #33cd5f;
        font-family: fantasy;
        font-size: 28px;
    }

    .button.button-assertive {
        border-color: transparent;
        background-color: #ef473a;
        color: #fff;
        font-family: fantasy;
        font-size: 30px;
        width: 33px;
    }

    .pin{
        text-align: center;
        font-size: xx-large;
    }
    .item-note {
        float: right;
        color: #444;
        font-size: 14px;
    }
    /* .item
    {
    top: -650px;
    } */